@tailwind base;
@tailwind components;
@tailwind utilities;

/* base on design */
/* @font-face {
    font-family: "Hiragino Kaku Gothic Pro W3";
    src: url("assets/fonts/Hiragino Kaku Gothic Pro W3.otf");
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jps-text {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}